* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    margin-left: 50px;
    margin-top: 50px;
}
.wrapper-row {
    display: flex;
}

.block {
    background-color:white;
    border: 1px solid black;
    width: 70px;
    height: 70px;
}